<app-admin-email-subscribers-section
  #sectionRef
  [expanded]="sectionExpanded"
  (toggle)="onSectionToggle()"
>
  <app-admin-email-subscribers-panel
    #panelRef
    [showAddForm]="showAddForm"
    [showCSVUpload]="showCSVUpload"
    [error]="error"
    [csvSuccess]="csvSuccess"
    [csvImportWarnings]="csvImportWarnings"
    [searchQuery]="searchQuery"
    [searching]="searching"
    [hasSearched]="hasSearched"
    [subscribers]="subscribers"
    [sortBy]="sortBy"
    [sortDirection]="sortDirection"
    [showListPagination]="!searching && hasSearched && subscribers.length > 0"
    [totalItems]="totalItems"
    [currentPage]="currentPage"
    [pageSize]="pageSize"
    [totalPages]="totalPages"
    [isFirstPage]="isFirstPage"
    [isLastPage]="isLastPage"
    [paginationRange]="paginationRange"
    [activeCount]="totalActiveCount"
    [editSubscriber]="editSubscriber"
    (toggleCsv)="toggleCSVUpload()"
    (toggleAdd)="toggleAddForm()"
    (csvUploaded)="onCsvUploaded($event)"
    (csvError)="onChildError($event)"
    (subscriberAdded)="onSubscriberAdded($event)"
    (addFormCancel)="toggleAddForm()"
    (addFormError)="onChildError($event)"
    (searchQueryChange)="onListSearchQueryChange($event)"
    (searchKeydown)="onListSearchKeydown($event)"
    (clearSearch)="clearListSearch()"
    (sortColumn)="toggleSort($event)"
    (rowAction)="onRowAction($event.subscriber, $event.action)"
    (pageSizeChange)="onPageSizeChange($event)"
    (previousPage)="previousPage()"
    (nextPage)="nextPage()"
    (goToPage)="goToPage($event)"
    (editSaved)="onEditSaved($event)"
    (editClosed)="closeEditSubscriberModal()"
  ></app-admin-email-subscribers-panel>
</app-admin-email-subscribers-section>

<app-admin-email-subscribers-dialogs
  (confirmationConfirmed)="onConfirmationConfirmed($event)"
  (welcomeEmailConfirmed)="onConfirmSendWelcomeEmail()"
  (welcomeEmailDeclined)="onDeclineSendWelcomeEmail()"
></app-admin-email-subscribers-dialogs>
