      <!-- Prayer Form Modal -->
      <app-prayer-form
        #prayerFormComp
        [isOpen]="showPrayerForm"
        [defaultPersonalPrayer]="activeFilter === 'personal'"
        (close)="handlers.onPrayerFormClose()"
      ></app-prayer-form>

      <!-- User Settings Modal -->
      <app-user-settings
        [isOpen]="showSettings"
        [scrollToSectionId]="settingsScrollToSectionId"
        (onClose)="handlers.closeUserSettings()"
        (scrollToSectionComplete)="handlers.onSettingsScrollToSectionComplete()"
      ></app-user-settings>

      <!-- Help Modal -->
      <app-help-modal
        [isOpen]="showHelp"
        (closeModal)="handlers.closeHelp()"
        (startCreatingPrayersHelpSectionUiTour)="handlers.startHelpSectionTour($event)"
        (startFilteringHelpSectionUiTour)="handlers.startHelpSectionTour($event)"
        (startPrayerPromptsUiTour)="handlers.startHelpSectionTour($event)"
        (startPrayerEncouragementUiTour)="handlers.startHelpSectionTour($event)"
        (startSearchPrayersUiTour)="handlers.startHelpSectionTour($event)"
        (startPersonalPrayersHelpSectionUiTour)="handlers.startHelpSectionTour($event)"
        (startMemorizeHelpSectionUiTour)="handlers.startHelpSectionTour($event)"
        (startPresentationModeHelpSectionUiTour)="handlers.startHelpSectionTour($event)"
        (startPrintingHelpSectionUiTour)="handlers.startHelpSectionTour($event)"
        (startEmailSubscriptionHelpSectionUiTour)="handlers.startHelpSectionTour($event)"
        (startPrayerRemindersHelpSectionUiTour)="handlers.startHelpSectionTour($event)"
        (startFeedbackHelpSectionUiTour)="handlers.startHelpSectionTour($event)"
        (startAppSettingsHelpSectionUiTour)="handlers.startHelpSectionTour($event)"
        (fullGuidedTourRequested)="handlers.startFullGuidedTour($event)"
      ></app-help-modal>

      <!-- Logout Confirmation Modal -->
      @if (showLogoutConfirmation) {
      <app-confirmation-dialog
        title="Log Out?"
        message="Are you sure you want to log out?"
        confirmText="Log Out"
        cancelText="Cancel"
        [isDangerous]="false"
        (confirm)="handlers.handleLogout()"
        (cancel)="handlers.cancelLogout()"
      ></app-confirmation-dialog>
      }

      <!-- Personal Prayer Edit Modal -->
      <app-personal-prayer-edit-modal
        [isOpen]="showEditPersonalPrayer"
        [prayer]="editingPrayer"
        (close)="handlers.closeEditPersonalPrayer()"
        (save)="handlers.onPersonalPrayerSaved()"
      ></app-personal-prayer-edit-modal>

      <app-personal-category-rename-modal
        [isOpen]="showRenamePersonalCategory"
        [categoryName]="renamingPersonalCategory ?? ''"
        [deferInputFocus]="personalCategoryRenameDeferInputFocus"
        [saving]="isRenamingPersonalCategory"
        (close)="handlers.closeRenamePersonalCategory()"
        (save)="handlers.saveRenamedPersonalCategory($event)"
      ></app-personal-category-rename-modal>

      <!-- Personal Prayer Update Edit Modal -->
      <app-personal-prayer-update-edit-modal
        [isOpen]="showEditPersonalUpdate"
        [update]="editingUpdate"
        [prayerId]="editingUpdatePrayerId"
        (close)="handlers.closeEditPersonalUpdate()"
        (save)="handlers.onPersonalUpdateSaved()"
      ></app-personal-prayer-update-edit-modal>

      <!-- Member Prayer Update Edit Modal -->
      <app-personal-prayer-update-edit-modal
        [isOpen]="showEditMemberUpdate"
        [update]="editingMemberUpdate"
        [prayerId]="editingMemberUpdatePrayerId"
        [isMemberUpdate]="true"
        [planningCenterListId]="planningCenterListId"
        (close)="handlers.closeEditMemberUpdate()"
        (save)="handlers.onMemberUpdateSaved()"
      ></app-personal-prayer-update-edit-modal>

  <app-add-memorized-verse-modal
    [isOpen]="showAddMemorizedVerse"
    (onClose)="handlers.closeAddMemorizedVerse()"
    (added)="handlers.onMemorizedVerseAdded()"
  />
  <app-add-memorized-bible-books-modal
    [isOpen]="showAddMemorizedBibleBooks"
    (onClose)="handlers.closeAddMemorizedBibleBooks()"
  />
  <app-memorization-recommendations-modal
    [isOpen]="showMemorizationRecommendations"
    [groups]="memorizationRecommendationGroups"
    [alreadyAddedReferences]="memorizationRecommendationOwnedKeys"
    [busyId]="addingRecommendationId"
    [loading]="!!(memorizationRecommendationsLoading$ | async)"
    (onClose)="handlers.closeMemorizationRecommendations()"
    (add)="handlers.addRecommendedVerse($event)"
  />
  @if (practiceMemorizedItem) {
  <app-memorization-practice-session
    [item]="practiceMemorizedItem"
    [isOpen]="!!practiceMemorizedItem"
    (closed)="handlers.closeMemorizationPractice()"
    (completed)="handlers.onMemorizationPracticeComplete($event)"
    (persistInProgress)="handlers.onMemorizationPersistInProgress($event)"
    (clearInProgress)="handlers.onMemorizationClearInProgress()"
    (openSettings)="handlers.openSettingsFromReciteFeedback()"
  />
  }
  @if (showRemoveMemorizedConfirm && memorizedItemToRemove) {
  <app-confirmation-dialog
    title="Remove from list?"
    [message]="'Remove ' + memorizedItemToRemove.reference + ' from your memorization list?'"
    confirmText="Remove"
    cancelText="Cancel"
    [isDangerous]="true"
    (confirm)="handlers.confirmRemoveMemorizedItem()"
    (cancel)="handlers.cancelRemoveMemorizedItem()"
  />
  }
