<div
  class="info-page-shell w-full min-h-screen bg-gray-50 dark:bg-gray-900 text-gray-900 dark:text-gray-100 transition-colors safe-area-container flex flex-col sm:items-center"
>
  <div class="absolute z-10 safe-area-top-right">
    <app-theme-toggle></app-theme-toggle>
  </div>
  <div class="info-page-body">
    <div class="info-page-body-scaled safe-area-horizontal space-y-16">
      <section class="info-page-info-section flex flex-col gap-5">
        <app-info-hero-section></app-info-hero-section>
        <app-info-feature-overview
          [brandingImageUrl]="brandingImageUrl"
        ></app-info-feature-overview>
      </section>
    </div>
  </div>
</div>
