<div class="mt-2 relative">
  <div
    (click)="openSearch.emit()"
    class="w-full rounded-md border border-gray-300 dark:border-gray-600 bg-inset-surface pl-10 pr-3 py-1.5 sm:py-2 flex items-center cursor-pointer"
  >
    <svg
      class="absolute left-3 top-1/2 -translate-y-1/2 w-4 h-4 text-gray-400 dark:text-gray-400 pointer-events-none"
      viewBox="0 0 24 24"
      fill="none"
      stroke="currentColor"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"
    >
      <path d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"></path>
    </svg>
    <span class="text-sm sm:text-base text-gray-400 dark:text-gray-400"
      >Search prayers...</span
    >
  </div>
</div>
