          <div
            [attr.id]="index === 0 ? 'tour-prayer-editor-first-card' : null"
            [class]="
              'border rounded-lg transition-all duration-200 ' +
              (selected
                ? 'bg-red-50 dark:bg-red-900/20 border-red-300 dark:border-red-700'
                : 'bg-gray-50 dark:bg-gray-900/50 border-gray-200 dark:border-gray-700 hover:bg-gray-100 dark:hover:bg-gray-800')
            "
          >
            <app-admin-prayer-editor-card-header
              [ctx]="this"
              [selected]="selected"
              [expanded]="expanded"
              [saving]="saving"
              [deleting]="deleting"
            />
            @if (expanded) {
            <app-admin-prayer-editor-card-expanded
              [ctx]="this"
              [isEditing]="isEditing"
              [saving]="saving"
              [anyPrayerEditing]="anyPrayerEditing"
              [editingUpdateId]="editingUpdateId"
              [deleting]="deleting"
              [isAddingUpdate]="isAddingUpdate"
              [savingUpdate]="savingUpdate"
              [savingEditUpdate]="savingEditUpdate"
            />
            }
          </div>
