@switch (previewFilter) {
  @case ('current') {
    <app-info-home-filter-preview-public-current-panel
      (openBadges)="openBadges.emit()"
      (openHeaderPreview)="openHeaderPreview.emit($event)"
    />
  }
  @case ('answered') {
    <app-info-home-filter-preview-public-answered-panel />
  }
  @case ('total') {
    <app-info-home-filter-preview-public-total-panel />
  }
  @case ('prompts') {
    <app-info-home-filter-preview-prompts-filters
      (openPromptCategories)="openPromptCategories.emit()"
    />
    <app-info-home-filter-preview-prompts-card />
  }
  @case ('personal') {
    <app-info-home-filter-preview-personal-filters
      (openPersonalCategories)="openPersonalCategories.emit()"
    />
    <app-info-home-filter-preview-personal-card
      (openPersonalAction)="openPersonalAction.emit($event)"
    />
  }
}
