    <div [class]="variantLayout.usePresentationWrapper ? variantLayout.presentationScrollClasses : 'contents'">
    <div
      [attr.id]="showTourAnchors && tourPersonalWalkthroughAnchors ? 'tour-walkthrough-personal-prayer-card' : null"
      [class]="shellClasses()"
    >
      <app-prayer-card-meta-header
        [bandSize]="variantLayout.bandSize"
        [bleedClasses]="variantLayout.headerBleedClasses"
        [roundedClasses]="variantLayout.headerBandRoundedClasses"
        [headerInsetClasses]="variantLayout.headerInsetClasses"
        [actionsInsetClasses]="variantLayout.headerInsetClasses"
        [prayerCreatedAt]="prayer.created_at"
        [isPersonal]="isPersonal"
        [isMember]="viewState.isMember"
        [category]="prayer.category ?? null"
        [status]="prayer.status"
        [showStatus]="viewState.showStatusPillInHeader"
        [showDelete]="viewState.showDeleteButton"
        [showReminder]="viewState.showReminderButton"
        [hasReminder]="hasReminderForPrayer()"
        [reminderBellTourId]="showTourAnchors && tourPrayerReminderBellAnchors ? 'tour-prayer-reminder-bell' : null"
        [showCenterDateTime]="!viewState.isMember"
        [personalEditTourId]="showTourAnchors && tourPersonalWalkthroughAnchors ? 'tour-walkthrough-personal-edit' : null"
        [personalAnsweredTourId]="showTourAnchors && tourPersonalWalkthroughAnchors ? 'tour-walkthrough-personal-answered' : null"
        [personalDeleteTourId]="showTourAnchors && tourPersonalWalkthroughAnchors ? 'tour-walkthrough-personal-delete' : null"
        [centerDragHandle]="showTourAnchors && personalDragHandle && isPersonal"
        [centerDragHandleId]="personalDragTourId"
        (toggleAnswered)="onPersonalAnsweredClick()"
        (edit)="editPersonalPrayer.emit(prayer)"
        (delete)="handleDeleteClick()"
        (reminder)="openReminderModal()"
        (pickerOpenChange)="onCategoryPickerOpenChange($event)"
      />

      <app-prayer-card-title-body
        [variantLayout]="variantLayout"
        [prayer]="prayer"
        [isPersonal]="isPersonal"
        [showTourAnchors]="showTourAnchors"
        [tourPersonalWalkthroughAnchors]="tourPersonalWalkthroughAnchors"
        [personalDragHandle]="personalDragHandle"
        [personalDragTourId]="personalDragTourId"
        [displayRequester]="viewState.displayRequester"
        [showDescription]="viewState.showDescription"
        [isVerseMemorization]="viewState.isVerseMemorizationPrayer"
        [showsCommunityUnreadBadges]="viewState.showsCommunityUnreadBadges"
        [prayerBadge$]="prayerBadge$"
        [badgeService]="badgeService"
        (markPrayerRead)="markPrayerAsRead()"
      />

      @if (viewState.showMemorizeButton) {
      <div [class]="'contrast-chip-surface flex flex-nowrap items-center min-w-0 ' + variantLayout.actionRowGap">
        <button
          type="button"
          (click)="memorizeVerse.emit()"
          title="Open Memorize tab and practice this verse"
          [class]="variantLayout.actionButtonClasses + ' btn-chip btn-chip-blue'"
        >
          Memorize
        </button>
      </div>
      } @else if (viewState.showAddUpdateButton) {
      <app-prayer-card-actions-row
        [variantLayout]="variantLayout"
        [showTourAnchors]="showTourAnchors"
        [tourPersonalWalkthroughAnchors]="tourPersonalWalkthroughAnchors"
        [tourUpdateAnchors]="tourUpdateAnchors"
        [tourPrayForEncouragementAnchors]="tourPrayForEncouragementAnchors"
        [prayedForCount]="prayer.prayed_for_count ?? 0"
        [prayedForCountLabel]="viewState.prayedForCountLabel"
        [showPrayedForBadge]="viewState.showPrayedForBadge"
        [usesPersonalCooldown]="viewState.usesPersonalCooldown"
        [canPrayFor]="(canPrayFor$ | async) ?? false"
        [userSessionService]="userSessionService"
        [prayerEncouragementService]="prayerEncouragementService"
        (addUpdate)="toggleAddUpdate()"
        (prayFor)="onPrayForClick()"
      />
      }

      @if (!viewState.showMemorizeButton) {
      <app-prayer-card-updates-section
        [variantLayout]="variantLayout"
        [prayerUpdates]="prayerUpdateList"
        [displayedUpdates]="getDisplayedUpdates()"
        [showTopMargin]="viewState.showAddUpdateButton"
        [showAllUpdates]="showAllUpdates"
        [shouldShowToggle]="shouldShowToggleButton()"
        [showTourAnchors]="showTourAnchors"
        [showsCommunityUnreadBadges]="viewState.showsCommunityUnreadBadges"
        [isCommunityPrayer]="viewState.isCommunityPrayer"
        [updateBadges$]="updateBadges$"
        [badgeService]="badgeService"
        [showUpdateDelete]="viewState.showUpdateDeleteButton"
        [updateActionsMode]="getUpdateActionsMode()"
        (toggleShowAll)="toggleShowAllUpdates()"
        (updateEdit)="onUpdateEdit($event)"
        (updateDelete)="handleDeleteUpdate($event)"
        (toggleAnswered)="toggleMemberUpdateAnswered($event)"
        (markUpdateRead)="markUpdateAsRead($event)"
      />
      }
    </div>

    <!-- Outside bg-card-shell-fill (isolation: isolate) so fixed modals stack above filter tabs and later cards. -->
    <app-prayer-card-modals-stack
      [showAddUpdateForm]="showAddUpdateForm"
      [prayerId]="prayer.id"
      [isPersonal]="isPersonal"
      [isMember]="viewState.isMember"
      [richTextEditorsEnabled]="richTextEditorsEnabled"
      [addUpdateTourElementIds]="addUpdateTourElementIds"
      [showDeleteRequestForm]="showDeleteRequestForm"
      [showUpdateDeleteRequestForm]="showUpdateDeleteRequestForm"
      [showConfirmationDialog]="showConfirmationDialog"
      [showUpdateConfirmationDialog]="showUpdateConfirmationDialog"
      [updateConfirmationTitle]="updateConfirmationTitle"
      [updateConfirmationMessage]="updateConfirmationMessage"
      [personalAnsweredStatusModalMode]="personalAnsweredStatusModalMode"
      [showReminderModal]="showReminderModal"
      [reminderSessionEmail]="reminderSessionEmail()"
      [prayerItemKind]="prayerItemKind()"
      [prayerFor]="prayer.prayer_for"
      [titleSnapshot]="prayer.title || ('Prayer for ' + prayer.prayer_for)"
      [reminders]="remindersForThisPrayer()"
      [showPrayForModal]="showPrayForModal"
      [usesPersonalCooldown]="viewState.usesPersonalCooldown"
      (closeAddUpdate)="closeAddUpdateForm()"
      (addUpdateSubmit)="onAddUpdateSubmit($event)"
      (closeDeleteRequest)="closeAllDeleteRequestForms()"
      (deleteRequestSubmit)="onDeleteRequestModalSubmit($event)"
      (confirmDelete)="onConfirmDelete()"
      (cancelDelete)="onCancelDelete()"
      (confirmUpdateDelete)="onConfirmUpdateDelete()"
      (cancelUpdateDelete)="onCancelUpdateDelete()"
      (closePersonalAnsweredStatus)="closePersonalAnsweredStatusModal()"
      (confirmPersonalAnswered)="onConfirmPersonalAnswered()"
      (confirmPersonalUnanswered)="onConfirmPersonalUnanswered($event)"
      (closeReminder)="showReminderModal = false"
      (remindersChange)="onPrayerRemindersChanged($event)"
      (confirmPrayFor)="onConfirmPrayForFromModal($event)"
      (cancelPrayFor)="onCancelPrayForModal()"
    />
    </div>
