<div
                    class="relative bg-gray-100/80 dark:bg-white/5 border-[2px] !border-[#39704D] dark:!border-[#39704D] rounded-lg p-4 sm:p-5 shadow-md space-y-3"
                  >
                    <span
                      class="absolute left-1/2 top-4 transform -translate-x-1/2 -translate-y-1/2 text-xs text-gray-500 dark:text-gray-400 pb-2"
                      >Jan 12, 2025</span
                    >
                    <div class="mb-1 flex flex-wrap items-center gap-2">
                      <span
                        class="text-sm font-semibold text-gray-900 dark:text-gray-100"
                        >Prayer for Jamie</span
                      >
                      <span class="text-sm text-gray-600 dark:text-gray-400"
                        >Requested by:
                        <span
                          class="font-medium text-gray-800 dark:text-gray-100"
                          >Alex</span
                        ></span
                      >
                    </div>
                    <p class="text-sm text-gray-600 dark:text-gray-300">
                      These are prayers that have been marked as answered. See
                      how God has been at work and celebrate together as a
                      community.
                    </p>
                    <p class="text-xs text-gray-500 dark:text-gray-500">
                      Mark a request as answered from the app to move it into
                      this view.
                    </p>
                    <div class="flex flex-wrap gap-1 items-center">
                      <button
                        type="button"
                        class="px-3 py-1 text-xs font-medium btn-chip btn-chip-green"
                      >
                        Add Update
                      </button>
                    </div>
                  </div>
