<app-admin-prayer-editor-section
  #sectionRef
  [expanded]="sectionExpanded"
  (toggle)="onSectionToggle()"
>
  <app-admin-prayer-editor-panel
    #panelRef
    [creatingPrayer]="creatingPrayer"
    [searchTerm]="searchTerm"
    [searching]="searching"
    [statusFilter]="statusFilter"
    [approvalFilter]="approvalFilter"
    [error]="error"
    [displayPrayers]="displayPrayers"
    [allPrayersCount]="allPrayers.length"
    [selectedPrayers]="selectedPrayers"
    [allDisplaySelected]="allDisplaySelected"
    [bulkStatus]="bulkStatus"
    [updatingStatus]="updatingStatus"
    [deleting]="deleting"
    [expandedCards]="expandedCards"
    [editingPrayer]="editingPrayer"
    [addingUpdate]="addingUpdate"
    [editForm]="editForm"
    [newUpdate]="newUpdate"
    [editUpdateForm]="editUpdateForm"
    [editingUpdateId]="editingUpdateId"
    [saving]="saving"
    [savingUpdate]="savingUpdate"
    [savingEditUpdate]="savingEditUpdate"
    [totalItems]="totalItems"
    [currentPage]="currentPage"
    [pageSize]="pageSize"
    [totalPages]="totalPages"
    [isFirstPage]="isFirstPage"
    [isLastPage]="isLastPage"
    [paginationRange]="paginationRange"
    (createPrayer)="startCreatePrayer()"
    (cancelCreate)="cancelCreatePrayer()"
    (prayerCreated)="onPrayerCreated($event)"
    (searchTermChange)="onToolbarSearchTermChange($event)"
    (searchKeydown)="onMainSearchKeydown($event)"
    (clearSearch)="clearSearch()"
    (statusFilterChange)="onToolbarStatusFilterChange($event)"
    (approvalFilterChange)="onToolbarApprovalFilterChange($event)"
    (toggleSelectAll)="toggleSelectAll()"
    (bulkStatusChange)="bulkStatus = $event"
    (updateSelected)="updateSelectedStatus()"
    (deleteSelected)="deleteSelected()"
    (cardAction)="onCardAction($event.prayer, $event.action)"
    (pageSizeChange)="onToolbarPageSizeChange($event)"
    (previousPage)="previousPage()"
    (nextPage)="nextPage()"
    (goToPage)="goToPage($event)"
  ></app-admin-prayer-editor-panel>
</app-admin-prayer-editor-section>

<app-admin-prayer-editor-dialogs
  (confirmationConfirmed)="onConfirmationConfirmed($event)"
></app-admin-prayer-editor-dialogs>
